<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Movie / Show Website!</title>
</head>
<body class="bg-dark text-light">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Welcome to Our Movie / Show Website!</h1>
        <p class="lead">Explore the world of movies and shows</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <div id="randomPhoto" class="card bg-dark text-white mb-3">
          <div class="card-body text-center">
            <img id="randomImage" class="img-fluid mx-auto d-block" src="https://thumbs.dreamstime.com/b/movie-slate-film-reel-wood-clapper-wooden-backgorund-36502412.jpg" alt="Random Image">
          </div>
        </div>
      </div>

    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>

    </div>
  </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Movie / Show Website!</title>
</head>
<body class="bg-dark text-light">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Welcome to Our Movie / Show Website!</h1>
        <p class="lead">Explore the world of movies and shows</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <div id="randomPhoto" class="card bg-dark text-white mb-3">
          <div class="card-body text-center">
            <img id="randomImage" class="img-fluid mx-auto d-block" src="https://thumbs.dreamstime.com/b/movie-slate-film-reel-wood-clapper-wooden-backgorund-36502412.jpg" alt="Random Image">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <form action="/logout" method="GET">
            <button type="submit">Logout</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <form action="/searchInfo" method="GET">
            <button type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
